<!DOCTYPE html>
<html lang="en">
<head>
  <title>DMT</title>
  <link rel="stylesheets" href="stylesheets/main.css.erb">
</head>
<body>

<%= image_tag('DRESSMYTRIP_WEBSITE.jpg', id: 'content-header-img', alt: 'Check out our coats') %>

<div id="video">
	<iframe src="https://player.vimeo.com/video/166062816" width="640" height="361" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

</body>
</html>